#nprogress .bar {
    background: #f59f00;   
}

#nprogress .spinner-icon {
    border-top-color: #f59f00;
    border-left-color: #f59f00;
}

#nprogress {
    position: relative;
    z-index: 9999999;
  }